<body class="bg-dark text-white py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-2 text-center">
                <p>
                    <i class="fa fa-exclamation-triangle fa-5x"></i>
                    <br />
                    Status Code: 403
                </p>
            </div>
            <div class="col-md-10">
                <h3>OPS! Ci dispiace...</h3>
                <p>
                    ma non hai sufficienti diritti per poter accedere alla schermata selezionata!
                    <br />
                    Torna alla schermata di login per poter accedere con un diverso utente.
                    <br />
                    <a class="btn btn-danger" routerLink="/login">Torna al Login</a>
                </p>
            </div>
        </div>
    </div>